:root {
  --default-font-family: 'Google Sans', 'Arial', sans-serif;
  --default-font-size: 16px;
  --default-line-height: 21px;
  --default-letter-spacing: 1px;

  --default-background: linear-gradient(140deg, rgb(226, 226, 226) 0%, rgb(201, 214, 255) 100%);
  --default-radius: 20px;
  --default-box-shadow: 0 5px 10px 0 rgba(31, 38, 135, 0.10);

  --color-black: rgb(0, 0, 0);
  --color-green: rgb(127, 159, 135);
  --color-red: rgb(253, 79, 120);
  --color-purple: rgb(104, 105, 171);
  --color-white: rgb(255, 255, 255);
  --color-grey: rgb(147, 145, 172);
  --color-light-grey: rgb(241, 240, 245);
}